<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cs307spring17team26.lets_eat_">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Let&apos;s Eat!"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AccountCreationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Create an Account"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".LoginAccountActivity"
            android:label="Login"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ApplicationActivity"
            android:label="Let&apos;s Eat!"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProfileSettings"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProfileSearches"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileMatches"
            android:label=""
            android:screenOrientation="portrait" />
        <activity android:name=".ChatActivity"
            android:screenOrientation="portrait"
            android:label="Messaging"/>
        <activity
            android:name=".ProfileSetup"
            android:label="Setup Profile"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity android:name=".ScheduleActivity"
            android:label="Schedule a Meeting"
            android:screenOrientation="portrait" />
        <activity android:name=".RestaurantActivity"
            android:label="Restaurants Near You"
            android:screenOrientation="portrait" />
    </application>

</manifest
